@import "@/styles/mixins";
.background {
  min-height: rem(500);
}
.features {
  display: flex;
  flex-wrap: wrap;
  &__title {
    font-size: larger;
    margin: rem(25);
    padding: rem(6);
    color: #08172e;
    border-radius: rem(10);
    text-shadow: 1px 1px 2px hsla(41, 98%, 55%, 0.493);

    h1 {
      padding: auto;
      margin: auto;
    }
  }

  &__item {
    margin: auto;
    min-width: rem(50);
  }

  &__subtitle {
    font-size: rem(15);
    margin: auto;
    padding: auto;
    background-color: $pastel-1;
    box-shadow: 0 0 0 rem(4) #f2b121;
    color: #08172e;
  }
  &__icon {
    min-width: rem(220);
    height: rem(130);
    background: $pastel-1;
    border-radius: 100px;
    margin-bottom: rem(15);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rem(4) #f2b121;
  }
  &__Img {
    width: rem(60);
    height: rem(60);
  }
}

