@import "@/styles/mixins";
.background {
  min-height: rem(500);
}
.features {
  display: flex;
  flex-wrap: wrap;
  &__title {
    font-size: larger;
    margin: rem(25);
    padding: rem(10);
    background-color: #fff;
    border-radius: rem(10);
    box-shadow: 0 0 0 rem(4) #f2b121;

    h1 {
      padding: auto;
      margin: auto;
    }
  }
  @media (max-width: $md-max-width) {
    justify-content: space-around;
  }

  &__item {
    width: rem(130);
    margin-bottom: rem(40);
    margin: 0 rem(30) rem(40);
  }

  &__subtitle {
    font-size: rem(25);
    margin: auto;
    padding: auto;
    background-color: $pastel-1;
    border-radius: rem(10);
    box-shadow: 0 0 0 rem(4) #f2b121;
  }
  &__icon {
    width: rem(130);
    height: rem(130);
    background: $pastel-1;
    border-radius: 100px;
    margin-bottom: rem(15);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rem(4) #f2b121;
  }
  &__Img {
    width: rem(60);
    height: rem(60);
  }
}

// dark theme
[data-kit-theme="dark"] {
  .features {
    &__icon {
      background: $black;
    }
  }
}
