@import "@/styles/mixins";
.center {
  background-color: #d3d3d3;

  &__content {
    padding-top: rem(80);
    margin: rem(20);
  }
  &__callbtn {
    margin: auto;
    padding: auto;
    padding-top:rem(40);
  }
}
.rec {
  &__item {
    padding-left: rem(72);
    position: relative;
    padding-top: rem(20);
  }
  &__iteminsured {
    padding-left: rem(72);
    position: relative;
    padding-top: rem(20);
    min-width: rem(120);
  }
  &__itemquote {
    padding-left: rem(72);
    position: relative;
    padding-top: rem(20);
    min-width: rem(140);
  }
  &__icon {
    font-size: rem(54);
    color: $success;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (max-width: $md-max-width) {
    &__item {
      padding-left: 0;
      padding-top: rem(100);
    }
  }
}
