@import "@/styles/mixins";

.promo {
  min-height: rem(200);
  padding: 0 0 0;
  overflow: visible;
  color: #08172e;

  :global(.op__block) {
    margin-bottom: 0;
  }

  &__inner {
    padding-top: rem(5);

    @media (max-width: $md-max-width) {
      padding-top: rem(10);
    }

    h1 {
      margin: rem(30) 0 rem(20);
      font-size: rem(48);
      line-height: 1.1;

      @media (max-width: $lg-max-width) {
        br {
          display: none;
        }
      }
    }
  }
  &__center {
    background:$pastel-1;
    margin-top: rem(-10);
    border-radius: rem(10);
    box-shadow: 0 0 0 rem(10) #fdb41a;

  }
  &__Truck {
    margin-left: auto;
    z-index: 10;
    @media (min-width: $md-max-width) {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &__Sign {
    max-width: rem(278);
  }
  &__notification {
    padding: auto;
    margin: auto;
    background: #fdb51a77;
    color: #08172e;
    text-align: center;
    border-radius: 8px;
    margin: auto;
    text-shadow: 1px 1px 2px hsl(0, 0%, 100%);

    a {
      color: $gray-5;

      &:hover,
      &:active,
      &:focus {
        color: lighten($gray-5, 10%);
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 rem(50);
    padding: 0;

    li {
      display: flex;
      align-items: center;
      padding: 0;
      &__subtitle {
        margin: auto;
        padding: auto;
        font-size:rem(60);

      }
    }

    &__icon {
      display: inline-block;
      width: rem(40);
      height: rem(40);
      text-align: center;
      margin-right: rem(20);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      img {
        max-height: rem(40);
        vertical-align: top;
      }

      &__html {
        border-radius: 100px;
        background: $white;

        img {
          max-height: rem(30);
        }
      }

      &__sketch {
        img {
          max-height: rem(35);
        }
      }
    }
  }

  &__img {
    margin-top: rem(0);
    min-height: rem(25);
    position: relative;
    padding: 0;
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 100%;
    }
  }
}
