@import "@/styles/mixins";

.unlock {
  color: $white;
  text-align: center;
  margin-bottom: rem(110);

  h1 {
    font-size: rem(64);
    font-weight: bold;
    margin-bottom: rem(30);
  }

  p {
    margin-bottom: rem(50);
  }

  :global(.op__block) {
    margin-bottom: 0;
  }

  :global(.op__btn) {
    padding-left: rem(70);
    padding-right: rem(70);
  }

  &__container {
    padding: rem(80) 0 rem(100);
  }

  &__tag {
    display: inline-block;
    padding: auto;
    background: hsla(223, 57%, 19%, 0.842);
    border-radius: 10px;
    margin: rem(20) rem(10);

  }
}
.card {
  &__item {
    border: 1px solid $border;
    border-radius: 10px;
    color:hsla(216, 70%, 11%, 0.83);
    padding: auto;
    margin: auto;
    text-align: center;
    background-color: rgba(253, 181, 28, 0.732);
    h1 {
     
      text-shadow: 1px 1px 2px rgb(255, 255, 255);
    }
    li {
      list-style-type: none;
      padding: auto;
      margin: auto;
    }
    p {
      margin-bottom: rem(40);

    }

    @media (max-width: $lg-max-width) {
      max-width: rem(600);
      margin: 0 auto rem(40);
    }
  }

  &__subtitle {
    font-size: rem(24);
  }

  &__main {
    line-height: 1.2;
    margin-bottom: rem(40);
  }
}
