@import "@/styles/mixins";
.heading {
  padding: auto;
  margin: auto;
  padding-top: rem(30);
  &__title {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 8px 8px #a7a39b;
  }
  &__body {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 8px 8px #a7a39b;
  }
}
.card {
  &__item {
    border: 1px solid $border;
    border-radius: 10px;
    padding: rem(60) rem(50) rem(70);
    margin: rem(6) rem(5) rem(7);
    text-align: center;
    background-color: hsla(41, 98%, 55%, 0.932);
    min-height: rem(500);
    h4 {
      font-weight: bold;
      font-size: rem(24);
      margin-bottom: rem(40);
    }

    p {
      margin-bottom: rem(40);
    }

    @media (max-width: $lg-max-width) {
      max-width: rem(600);
      margin: 0 auto rem(40);
    }
  }

  &__subtitle {
    font-size: rem(24);
  }

  &__main {
    line-height: 1.2;
    margin-bottom: rem(40);
  }
}

// dark theme
[data-kit-theme="dark"] {
  .pricing {
    &__item {
      background: $black;
      border-color: $black;
    }
  }
}
