@import "@/styles/mixins";

.background {
  background-size: 50% 50%;
}
.heading {
  padding: auto;
  margin: auto;
  padding-top: rem(30);
  &__title {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 rem(5) #a7a39b;
    margin-top: rem(10);
    padding: auto;
    margin: auto;
  }
  &__body {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 rem(5) #a7a39b;
  }
}
.card {
  &__item {
    border: 1px solid $border;
    border-radius: 10px;
    padding: rem(60) rem(50) rem(70);
    margin: rem(6) rem(5) rem(7);
    text-align: center;
    background-color: hsla(41, 98%, 55%, 0.932);
    min-height: rem(650);
    h4 {
      font-weight: bold;
      font-size: rem(24);
      text-shadow: 1px 1px 2px rgb(255, 255, 255);
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style-type: none;
      padding: rem(5);
      margin: rem(2);
    }
    p {
      text-shadow: 1px 1px 2px rgb(255, 255, 255);
      color: $blue;

      @media (max-width: $sm-max-width) {
        max-width: rem(640);
        margin: 0 auto rem(40);
        padding: rem(20);
      }
    }

    @media (min-width: $lg-max-width) {
      max-width: rem(640);
      margin: 0 auto rem(40);
    }
  }

  &__subtitle {
    font-size: rem(24);
  }

  &__main {
    line-height: 1.2;
    margin-bottom: rem(40);
  }
}

// dark theme
[data-kit-theme="dark"] {
  .pricing {
    &__item {
      background: $black;
      border-color: $black;
    }
  }
}
